body {
    background: linear-gradient(to top, black , rgb(49, 49, 49));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#data{
    font-weight: 900;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}

.styleImageData{
    padding: 5px;
}

.login{
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register{
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}